extends layout

block content
  //p Welcome to #{title}
  section(class="unselectable", data-role="module")
    header
      h1 Dojo APP
    aside

    section(data-role="content")

    footer(data-role="video-single")