section

    section#fName 
        header
            a File name
        
        div
        
    section#fType
        header
            a File type
        
        div
        
    section#fSize 
        header
            a Size (Kb)
        
        div
        
    section#fAction 
        header
            a Action
        
        div