section
    aside.fAction(ng-click="$event.stopPropagation()") 
        header Action:
        section {{actionMsg}}
        
    header
        div.fName 
            a(ng-click="scopeOrder = scopeOrder=='name' ? '-'+scopeOrder : 'name' ") File name
            
        div.fType
            a(ng-click="scopeOrder = scopeOrder=='ext'  ? '-'+scopeOrder : 'ext'  ") File type
            
        div.fSize 
            a(ng-click="scopeOrder = scopeOrder=='size' ? '-'+scopeOrder : 'size' ") Size (Kb)
            
    ol
        li(class="{{$index==rowSelectedIdx?'rowSelected':''}}" ng-click="rowClick(this); $event.stopPropagation();" ng-repeat="file in files | filter:{ name: fName }  | orderBy: scopeOrder ")  
            div.fName {{ file.name }}
            div.fType {{ file.ext  }} 
            div.fSize {{ file.size }} Kb
            
    input(ng-click="$event.stopPropagation();", type="text", ng-model="fName", placeholder="Filter by" autofocus)