extends layout

block content
  //p Welcome to #{title}
  section(class="unselectable", data-role="module")
    header
      h1 Videos
    aside
      fieldset
        legend Controls:
        label(for="video-filter") Filter:
        select(id="video-filter")
          option Staff picks
          option(value="popularity") All games
          option(value="popularity_alltime") Top
          option(value="created_at") Latest
    section(data-role="content")

      div(id="videos", data-role="video-list")
    footer(data-role="video-single")
