extends layout

block content
  //p Welcome to #{title}
  section(class="unselectable", data-role="module")
    header
      h1 URLS PARSER
    form
      fieldset
        legend URLS:
        ul
          li
            span URL-1
            input(type="text")
          li
            span URL-2
            input(type="text")
