transform-rotate()
  -webkit-transform rotate(arguments)
  transform rotate(arguments)

text-select()
  -webkit-user-select arguments
  -khtml-user-select arguments
  -moz-user-select arguments
  -o-user-select arguments
  user-select arguments

corporate-1 = #2181cf

body
  -webkit-font-smoothing antialiased

  > section[data-role="module"]
    padding 1%
    width 80%
    margin 0 auto
    font-family Arial, sans-serif

    aside
      padding-bottom 1%

      fieldset
        background-color whitesmoke
        border-radius 6px
        padding 1%
        width 20%
        border 1px solid grey

header h1
  text-align center
  font-size 180%
  font-family Ubuntu, sans-serif

footer[data-role="single-video"]
    padding 10px
    margin 0 auto

    > video
      width 50%
      transform-rotate(180deg)
      margin-left 25%

section[data-role="content"] > div
    width 100%
    float left
    padding-top 10px

#videos
  background-color gold

  ul li
    margin 1%

  ul *
   float left

  ul li > div p
    clear left

  ul li > div p:last-child
    font-weight bold

  span
    max-width 234px
    float left

  div p, div img
    float left

  div img
    padding-right 10px

.selectable
  text-select(initial)

.unselectable
  text-select(none)

select:hover:invalid
    border 1px solid red !important

.hidden
  display none

.r
  float right

//FLEX BOX
.flexbox

  section
    /*background-color whitesmoke*/