section[filegallery] {
  display: flex;
  flex-direction: row;
  ms-flex-direction: row;
}
section[filegallery] section {
  margin: 3px;
  flex-grow: 1;
  ms-flex-grow: 1;
  min-width: 80px;
}
section[filegallery] section > header {
  margin: 0 auto;
  width: 64px;
}
