extends layout
block metaBlock
    meta(charset="utf-8")
    title Shoping cart
    meta(name="author", content="Andrii Trybynenko")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.9, user-scalable=yes")
    link(href='images/favicon.ico', rel='shortcut icon', type='image/x-icon')

block libs_lazy_load_modernizer
    script(src="/js/vendor/modernizr/modernizr.js")
    
block libs_manual_include
    script(src="/js/vendor/modernizr/modernizr.js")
    script(src="/js/vendor/angular/angular.js")
    script(src="/js/vendor/angular-route/angular-route.js")

block libs_manual_include_min
    script(src="/js/vendor/modernizr/modernizr.js")
    script(src="/js/vendor/angular/angular.min.js")
    script(src="/js/vendor/angular-route/angular-route.min.js")

block app_lunch
    script(src="/js/app/frameApp.js")
    script(src="/js/app/lunch.js")

