extends layout
block metaBlock
    meta(charset="utf-8")
    title Shoping cart
    meta(name="author", content="Andrii Trybynenko")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.9, user-scalable=yes")
    link(href='images/favicon.ico', rel='shortcut icon', type='image/x-icon')

// block websoket_setup
//     script(src="https://web-node-c9-tamer1an.c9.io/socket.io/socket.io.js")
//     script(src="/js/nodejs/io-bootstrap.js")

block libs
    script(src="/js/utils/factory.js")
    // script(src="/js/vendor/modernizer/modernizr.js")

block app_uncompressed
    script(src="/js/app/app.js")

block app_lunch
    script(src="/js/lunch.js")

