doctype html
html(lang="en")
    head
        block metaBlock
        // Style
        link(rel='stylesheet', href='css/main.css' ,type="text/css")
        // Libs src
        // block websoket_setup
        block libs_manual_include
        // App
        block app_lunch 
        
    body
        main
            div(ng-view,ng-click="rowClick(this)")
            
            aside(appControlPanel)