doctype html
html(lang="en")
    head
        block metaBlock
        // Style
        link(rel='stylesheet', href='css/main.css' ,type="text/css")
        // Libs src
        // block websoket_setup
        block libs
        // App
        block app
        block app_lunch

    body 
        div.fGallery(filegallery)