extends layout

block content
  //p Welcome to #{title}
  section(class="unselectable", data-role="module", ng-app="app")
    header
      h1 URLS PARSER
    form(ng-controller="ParserCtrl")
      fieldset
        legend URLS:
        ul
          li
            span URL-1
              input(type="text", ng-model="formData.url1", autofocus="true" , title="Please enter url...", placeholder="nokia-105-man-hinh-mau-14-xanh-76651" )
          li
            span URL-2
            input(type="text", ng-model="formData.url2", title="Please enter url...", placeholder="apple-iphone-5c-retina-4-8mp-32gb-vang-106908")
        input(type="button",ng-click="compare()",value="Comapre")

    footer
