text-selectable(arg)
  -webkit-touch-callout arg
  -webkit-user-select arg
  -khtml-user-select arg
  -moz-user-select arg
  -ms-user-select arg
  user-select arg

section[filegallery] 
  border 1px solid black
  margin 2%
  height 98%
  min-width 320px
  min-height 330px
  
  > input
    float left
    margin-top -22px
    -webkit-transform translateX(12px)
    
  > aside
    width 23.5%
    float right
    height 100%
    background lightgrey
  
  > ol, > header
    width 76.5%
    
  > ol
    height 92%
    background white
    min-height 300px
    text-selectable(none)
  
  > header, li
    display flex
    ms-flex-direction row
    -webkit-flex-direction row
    flex-direction row
            
    > div
      margin 3px
      -webkit-flex-grow 1
      ms-flex-grow 1
      flex-grow 1
      min-width 80px
    
      > a
        margin 0 auto
        width 64px
  
  
  
.rowSelected
  background yellow
  
  
  
  
  
.previewImg
  width  60%
  height 90%
  margin 5% 20%
  float left
  border 1px solid #008000
  padding 2%
  
.previewImgSection 
  width 95%
  float left  