fieldset
  border 1px solid black
  padding 5px
  width 468px
  margin 0 auto

  li
    float left
    margin-left 5px

    input
      width 170px
      margin-left 5px

footer
  width 90%
  margin 20px auto
  border 1px solid black
  min-height 200px

:invalid
  border 1px solid red

:valid
  border 1px solid grey
